

body{
    margin:0px;
    padding:0px;
    background-image: url('images/Untitled-design-2019-10-16T154345.143\ \(2\).jpg')
}
.header{
    margin-top: 0px;

}
.header{
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-bottom: 10%;
}
.main{
    background-color: skyblue;
}

.footer{
    background-color: #443c3c;
    padding-bottom: 0px;
    margin-bottom: 0%;
    border-bottom: 0%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.footer p{
    font-size: 120%;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace; 
}
.footer img{
    height: 50px;
    width: 50px;
    display: inline;
    vertical-align: 50%;
    border-radius: 20%;
    padding: 1.5em;
}
.contact img{
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: inline-block;
}

.contact li{
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: inline-block;
    position: center;
}
.nav ul{
    margin: 0;
    border: 0;
    padding: 0;
    position: sticky;
    text-align: center;
}

.show-text p{
    display: block
}

.show-text table{
    display: none
}

.show-text.show-table p{
    display: none
}

.show-text.show-table table{
    display: block
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

